row {
  background-color: yellow;
  text-align: justify;
  font-size: medium;
}

#planner {
  background-color: teal;
}

div {
  background-color: lightblue;
  text-align: left;
  font-size: medium;
  inline-flex

}

input #${i} {
background-color: lightyellow;
}