row {
  background-color: yellow;
  text-align: justify;
  font-size: medium;
}

#planner {
  background-color: teal;
}

div {
  background-color: lightblue;
  text-align: center;
  font-size: medium;
  /* display: inline-flex; */
}

#todos {
  text-align: center;
}

.todo-item {
  background-color: lightcyan;
  margin: 10px;
  border: solid darkblue 3px;
  padding: 5px;
  /* width: max-content; */
}
.row {
  justify-content: center;
  align-items: baseline;
}

.past {
  background-color: darkblue !important;
}
